.formAddParticipante {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formAddParticipante > header {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.formAddParticipante h1 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
}

.formAddParticipante input {
    width: 30vh;
    height: 5vh;
    margin-bottom: 1vh;
    text-decoration: none;
}

.formAddParticipante label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
}

.formAddParticipante button {
    width: 30vh;
    background-color: black;
    border: none;
    color: white;
    padding: 2vh 7vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

.divInputRadio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 20vh;
}

.divInputRadio > div {
    display: flex;
    flex-direction: row;
}

.divInputRadio  h2 {
    margin-right: 2vh;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
}

.divInputRadio  input {
    width: 10vh;
    height: 3vh;
    text-decoration: none;
}