.mainLogin {
    display: flex;
    flex-direction: column;
    width: 200vh;
    height: 80%;
    justify-content: center;
    align-items: center;
    background-color: #FFD836;
}

.formLogin {
    display: flex;
    width: 40%;
    height: 70%;
    flex-basis: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24vh;
}

.formLogin div {
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}

.formLogin div label {
    font-weight: bold;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
}

.formLogin input {
    width: 30vh;
    height: 5vh;
    border: none;
    margin-top: 2vh;
    padding-left: 2vh;
    text-decoration: none;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
}

.loginButton {
    width: 30vh;
    background-color: black;
    border: none;
    color: white;
    padding: 2vh 7vh;
    margin-top: 5vh;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}